In [28]:
import numpy as np
import pandas as pd

In [29]:
# help(pd.Series)

In [30]:
myindex = ['USA','Canada','Mexico']

In [31]:
mydata = [1776,1867,1821]

In [32]:
myser = pd.Series(data=mydata, index = myindex)

In [33]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [34]:
myser = pd.Series(data=mydata,index=myindex)

In [35]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [36]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

In [37]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [38]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [39]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [40]:
sales_Q1['Japan']

80

In [41]:
sales_Q1[0]

C:\Users\Jerin\AppData\Local\Temp\ipykernel_16200\832806364.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_Q1[0]

80

In [42]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [43]:
sales_Q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [44]:
sales_Q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [46]:
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [48]:
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64